pytz==2018.9
cheroot==6.5.4
requests==2.21.0
cloudscraper==1.2.60
SQLAlchemy==1.3.12
SQLAlchemy-Enum34==1.0.1
transmissionrpc==0.11
beautifulsoup4==4.7.1
deluge-client==1.7.0
qbittorrent-api==0.5.1
feedparser==5.2.1
alembic==1.0.8
falcon==1.4.1
itsdangerous==1.1.0
html5lib==0.9999999
dateutils==0.6.6
phpserialize==1.3
semver==2.8.1
playwright==1.20.0

#python 2/3 compatibility and backports
six==1.12.0
enum34==1.1.6
future==0.17.1
