pytz
cheroot>=5.1.0
requests>=2.7.0
SQLAlchemy>=1.0.6
SQLAlchemy-Enum34
transmissionrpc>=0.11
beautifulsoup4>=4.4.0
deluge-client>=1.0.2
feedparser>=5.2.1
alembic>=0.7.6
falcon>=1.0.0
itsdangerous
html5lib==0.9999999
dateutils
phpserialize
semver
structlog

#python 2/3 compatibility and backports
six
aenum>=2.0.6
future
