<div class="mt-torrents-list-header" ng-class="status" layout="row" layout-align="space-between center">
    <div layout="column" layout-align="start center">
        <a ng-href="{{execute ? ('#/logs/' + execute.id + '/details') : null}}" disabled><span><b>Last Executed</b>:<span ng-if="execute"> {{execute.finish_time | date : 'dd.MM.yyyy HH:mm:ss'}} <i>({{relative_execute}})</i></span><span ng-if="!execute"> <i>...loading...</i></span></span></a>
    </div>
    <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-click="executeClicked($event)" class="md-icon-button" aria-label="Execute">
            <md-icon md-svg-icon="content/icons/input.svg"></md-icon>
        </md-button>
    </div>
</div>
<div class="mt-torrents-list-header" layout="row" layout-align="space-between center" ng-if="executing">
    <div layout="column" layout-align="start center">
        <span ng-bind-html="latest_log_message.message"></span>
    </div>
</div>
<md-progress-linear md-mode="indeterminate" ng-if="executing"></md-progress-linear>
<md-divider></md-divider>
<div class="mt-torrents-list-header" layout="row" layout-align="space-between center">
    <div layout layout-sm="column" flex>
      <md-input-container flex>
        <label>Filter</label>
        <input ng-model="filter"/>
      </md-input-container>
      <md-input-container>
        <label>Sort</label>
        <md-select ng-model="order" ng-change="orderChanged()">
          <md-option value="display_name">
            Name
          </md-option>
          <md-option value="-last_update">
            Last Update
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-click="addTorrent($event)" class="md-icon-button" aria-label="Delete">
            <md-icon md-svg-icon="content/icons/add.svg"></md-icon>
        </md-button>
    </div>
</div>
<md-divider></md-divider>
