.mt-torrents-list-header {
    padding: 0 16px;
    p {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.01em;
        line-height: 24px;
        margin: 0 0 0px 0;
        line-height: 1.6em;
        
        color: rgba(0,0,0,0.54);
    }
}
