<md-card class="mt-settings-authentication">
    <mt-route-toolbar show-back="true"></mt-route-toolbar>
    <div layout layout-align="space-between start" class="mt-switch">
        <p>Turn authentication on/off</p>
        <md-switch ng-model="isEnabledView" ng-change="disableAuthentication($event)" aria-label="Turn authentication on/off"></md-switch>
    </div>
    <md-divider></md-divider>
    <div class="mt-change-password" flex layout="column" ng-show="isEnabledView">
        <p>{{actionText()}}</p>
        <form name="submitPassword" layout="column">
            <md-input-container>
                <label>Current Password</label>
                <input required type="password" ng-model="oldPassword" name="oldPassword" ng-change="oldPasswordValidation.valid()">
                <div ng-messages="submitPassword.oldPassword.$error">
                    <div ng-message="required">
                        <span ng-if="submitPassword.oldPassword.$touched||submitPassword.$submitted">
                            Please specify current password
                        </span>
                    </div>
                    <div ng-message="wrongPassword">Current password is incorrect</div>
                </div>
            </md-input-container>
            <md-input-container ng-if="isEnabled">
                <label>Password</label>
                <input required type="password" ng-model="$parent.password" name="password" mt-equals-to="submitPassword.oldPassword" mt-equals-to-revert=true>
                <div ng-messages="submitPassword.password.$error">
                    <div ng-message="required">
                        <span ng-if="submitPassword.oldPassword.$touched||submitPassword.password.$touched||submitPassword.$submitted">
                            New password can't be empty
                        </span>
                    </div>
                    <div ng-message="mtEqualsTo">New password should be different from an old one.</div>
                </div>
            </md-input-container>
            <md-input-container ng-if="isEnabled">
                <label>Confirm Password</label>
                <input type="password" ng-model="$parent.passwordCheck" name="passwordCheck" mt-equals-to="submitPassword.password">
                <div ng-messages="submitPassword.passwordCheck.$error">
                    <div ng-message="mtEqualsTo">Confirm password is not equal to new password</div>
                </div>
            </md-input-container>
            <a ng-click="showErrors()" style="display: inline-block; align-self: flex-end;">
                <md-button class="md-raised md-primary" ng-click="setPassword()" ng-disabled="submitPassword.$invalid">{{actionText()}}</md-button>
            </a>
        </form>
    </div>
</md-card>