<md-card class="mt-settings-authentication">
    <mt-route-toolbar show-back="true"></mt-route-toolbar>
    <div layout layout-align="space-between center" class="mt-switch">
        <p>Turn authentication on/off</p>
        <md-switch ng-model="isEnabledView" ng-change="disableAuthentication($event)" aria-label="Turn authentication on/off"></md-switch>
    </div>
    <md-divider></md-divider>
    <div class="mt-change-password" flex layout="column" ng-show="isEnabledView">
        <p ng-if="isEnabled">{{actionText()}}</p>
        <form name="submitPassword" layout="column">
            <md-input-container>
                <label>Current Password</label>
                <input required md-no-asterisk type="password" ng-model="oldPassword" name="oldPassword" ng-change="oldPasswordValidation.valid()">
                <div ng-messages="submitPassword.oldPassword.$error" md-auto-hide="false" ng-if="submitPassword.oldPassword.$touched">
                    <div ng-message="required" class="md-input-message-animation">Please specify current password</div>
                    <div ng-message="wrongPassword" class="md-input-message-animation">Current password is incorrect</div>
                </div>
            </md-input-container>
            <md-input-container ng-if="isEnabled">
                <label>Password</label>
                <input required md-no-asterisk type="password" ng-model="$parent.password" name="password" mt-equals-to="submitPassword.oldPassword" mt-equals-to-revert=true>
                <div ng-messages="submitPassword.password.$error" md-auto-hide="false" ng-if="submitPassword.password.$touched">
                    <div ng-message="required" class="md-input-message-animation">New password can't be empty</div>
                    <div ng-message="mtEqualsTo" class="md-input-message-animation">New password should be different from an old one.</div>
                </div>
            </md-input-container>
            <md-input-container ng-if="isEnabled">
                <label>Confirm Password</label>
                <input type="password" ng-model="$parent.passwordCheck" name="passwordCheck" mt-equals-to="submitPassword.password">
                <div ng-messages="submitPassword.passwordCheck.$error" md-auto-hide="false" ng-if="submitPassword.passwordCheck.$touched">
                    <div ng-message="mtEqualsTo" class="md-input-message-animation">Confirm password is not equal to new password</div>
                </div>
            </md-input-container>
            <a ng-click="showErrors()" class="mt-action-button">
                <md-button class="md-raised md-primary" ng-click="setPassword()" ng-disabled="submitPassword.$invalid">{{actionText()}}</md-button>
            </a>
        </form>
    </div>
</md-card>