<md-dialog class="disable-auth-dialog" aria-label="Add Torrent">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Disable authentication</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="submitPassword" ng-submit="remove()">
            <div layout="row">
                <md-input-container flex>
                    <label>Current Password</label>
                    <input required md-no-asterisk type="password" ng-model="password" name="password" ng-change="passwordValidation.valid()">
                    <div ng-messages="submitPassword.password.$error" md-auto-hide="false" ng-if="submitPassword.$submitted || submitPassword.password.$touched">
                        <div ng-message="required" class="md-input-message-animation">Please specify current password</div>
                        <div ng-message="wrongPassword" class="md-input-message-animation">Current password is incorrect</div>
                    </div>
                </md-input-container>
            </div>
            <div class="md-actions" layout="row">
                <md-button ng-click="close()">
                    Nevermind
                </md-button>
                <md-button type="submit" class="md-raised md-primary">
                    Disable
                </md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>