.mt-settings-authentication {
    
    .mt-change-password {
        margin: 8px 16px;
        
        md-input-container {
            padding-left: 0;
            padding-right: 0;
        }
    
        .mt-action-button {
            display: inline-block;
            align-self: flex-end;
            -webkit-align-self: flex-end;
        }
    }
}