<md-dialog class="mt-edit-torrent" style="width: 500px;" aria-label="Add Torrent">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Torrent</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="row">
            <md-input-container flex>
                <label>URL</label>
                <input type="url" ng-model="settings.url" disabled="true">
            </md-input-container>
        </div>
        <mt-dynamic-form data="form" model="settings"></mt-dynamic-form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="save()" class="md-primary" ng-disabled="disabled">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>