<md-card class="torrents-list">
    <mt-torrents-execute-header torrents="torrents"></mt-torrents-execute-header>
    <mt-torrents-list-header></mt-torrents-list-header>
    <md-list>
        <md-list-item layout class="md-2-line"
            ng-repeat="torrent in torrents | orderBy: smartOrder: orderReverse | filter: smartFilter"
            ng-class="{'color-warn': torrent.status == 'Not Found' && !torrent.paused, 'color-failed': torrent.status == 'Error' && !torrent.paused, 'color-paused': torrent.paused}">
            <a ng-href="{{torrent.url}}" target="_blank" hide-xs>
                <img ng-src="{{torrent.thumbnail_url}}" class="md-avatar" alt="{{torrent.tracker}}">
            </a>
            
            <div class="md-list-item-text">
                <h3 hide-xs>{{torrent.display_name}}</h3>
                <a ng-href="{{torrent.url}}" target="_blank" hide-gt-xs>
                    <h3>{{torrent.display_name}}</h3>
                </a>
                <p>Last update: {{(torrent.last_update | date : 'dd.MM.yyyy HH:mm:ss') || 'not specified'}}</p>
            </div>

            <!--<span ng-if="torrent.status != 'Ok'" class="center-text">{{torrent.status | uppercase}}</span>-->

            <md-menu class="md-secondary" md-position-mode="target-right target">
                <md-button aria-label="Actions" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin md-svg-icon="content/icons/more-vert.svg"></md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button ng-click="editTorrent($event, torrent.id)" aria-label="Edit">
                            <md-icon md-svg-icon="content/icons/edit.svg"></md-icon>
                            Edit
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="!torrent.paused">
                        <md-button ng-click="pauseState(torrent.id, true)" aria-label="Reset Status">
                            <md-icon md-svg-icon="content/icons/pause.svg"></md-icon>
                            Pause
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="torrent.paused">
                        <md-button ng-click="pauseState(torrent.id, false)" aria-label="Reset Status">
                            <md-icon md-svg-icon="content/icons/unpause.svg"></md-icon>
                            Unpause
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="torrent.status != 'Ok' && !torrent.paused">
                        <md-button ng-click="resetTorrentStatus(torrent.id)" aria-label="Reset Status">
                            <md-icon md-svg-icon="content/icons/restore.svg"></md-icon>
                            Reset Status
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="!torrent.paused">
                        <md-button ng-click="executeTorrent(torrent.id)" aria-label="Delete">
                            <md-icon md-svg-icon="content/icons/input.svg"></md-icon>
                            Execute
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="hasNotPaused(torrent.tracker)">
                        <md-button ng-click="executeTracker(torrent.tracker)" aria-label="Delete">
                            <md-icon md-svg-icon="content/icons/input.svg"></md-icon>
                            <span>Execute <b>{{torrent.tracker}}</b></span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="deleteTorrent(torrent.id)" aria-label="Delete">
                            <md-icon md-svg-icon="content/icons/delete.svg"></md-icon>
                            Delete
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-list-item>
    </md-list>
</md-card>
