<md-card class="torrents-list">
  <mt-torrents-list-header></mt-torrents-list-header>
  <md-list>
    <md-list-item class="md-2-line md-no-proxy" ng-repeat="torrent in torrents | orderBy: order">
      <a ng-href="{{torrent.url}}" target="_blank">
        <img ng-src="content/images/{{torrent.tracker}}.png" class="torrent-logo" alt="{{torrent.tracker}}">
      </a>
      <div class="md-list-item-text">
        <h3>{{torrent.display_name}}</h3>
        <p>Last update: {{torrent.last_update | date : 'dd.MM.yyyy hh:mm:ss' || 'not specified'}}</p>
      </div>
      
      <md-menu md-position-mode="target-right target">
        <md-button aria-label="Actions" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon md-menu-origin md-svg-icon="content/icons/more-vert.svg"></md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button ng-click="editTorrent($event, torrent.id)" aria-label="Edit">
              <md-icon md-svg-icon="content/icons/edit.svg"></md-icon>
              Edit
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="deleteTorrent(torrent.id)" aria-label="Delete">
              <md-icon md-svg-icon="content/icons/delete.svg"></md-icon>
              Delete
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
  </md-list>
</md-card>