<div class="mt-torrents-execute-header" ng-class="status" layout="column" layout-align="center stretch">
    <div layout="row" layout-align="start center">
        <div layout="row" layout-align="start center" flex>
            <h4 flex class="md-subhead mt-executing">
                <a ng-if="execute && !executing" ng-href="{{execute ? ('#/logs/' + execute.id + '/details') : null}}">
                    <span class="mt-bold">Last Executed</span> at {{execute.finish_time | date : 'HH:mm'}} ({{relative_execute}})
                </a>

                <span ng-if="!execute && !no_executes">Updating torrents...</span>

                <span ng-if="no_executes">Add torrent and press execute</span>

                <a ng-if="executing" ng-href="{{execute ? ('#/logs/' + execute.id + '/details') : null}}">
                    <span ng-if="executing" ng-bind-html="latest_log_message.message"></span>
                </a>
            </h4>
        </div>

        <md-menu ng-if="!executing" md-position-mode="target-right target" class="center-text">
            <md-button aria-label="Execute" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-svg-icon="content/icons/input.svg"></md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="executeAllClicked($event)" aria-label="ExecuteAll">
                        <md-icon md-svg-icon="content/icons/input.svg"></md-icon>
                        Execute All
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="hasErrorTorrents()">
                    <md-button ng-click="executeErrorsClicked($event)" aria-label="ExecuteErrors">
                        <md-icon md-svg-icon="content/icons/input.svg"></md-icon>
                        Execute with Errors only
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-repeat="tracker in trackers()">
                    <md-button ng-click="executeTracker(tracker)" aria-label="ExecuteErrors">
                        <md-icon md-svg-icon="content/icons/input.svg"></md-icon>
                        <span>Execute <b>{{tracker}}</b></span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>

    <md-progress-linear md-mode="indeterminate" ng-if="executing"></md-progress-linear>
</div>
<md-divider></md-divider>
