<div class="md-padding torrents-list">
  <md-card>
    <md-list>
      <mt-torrents-list-header></mt-torrents-list-header>
      <md-list-item class="md-2-line md-no-proxy" ng-repeat="torrent in torrents">
        <a ng-href="{{torrent.url}}" target="_blank">
              <img ng-src="content/images/{{torrent.tracker}}.png" class="torrent-logo" alt="{{torrent.tracker}}">
            </a>
        <div class="md-list-item-text">
          <h3>{{torrent.display_name}}</h3>
          <p>Last update: {{torrent.last_update || 'not specified'}}</p>
        </div>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button ng-click="editTorrent($event, torrent.id)" class="md-icon-button" aria-label="Edit">
            <md-icon md-svg-icon="content/icons/edit.svg"></md-icon>
          </md-button>
          <md-button ng-click="deleteTorrent(torrent.id)" class="md-icon-button" aria-label="Delete">
            <md-icon md-svg-icon="content/icons/delete.svg"></md-icon>
          </md-button>
        </div>
        <md-divider md-inset ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-card>
</div>