<h1 layout-padding>Trackers</h1>
<div layout="column" layout-padding>
    <md-card ng-repeat="tracker in trackers">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>{{tracker.name}}</h1>
            </div>
        </md-toolbar>
        <md-content layout-padding layout="row">
            <md-input-container flex>
                <label>Username</label>
                <input ng-model="tracker.credentials.username"/>
            </md-input-container>
            <md-input-container flex>
                <label>Password</label>
                <input type="password" ng-model="tracker.credentials.password"/>
            </md-input-container>
        </md-content>
        <md-content layout-padding layout="row">
            <md-button class="md-raised md-primary" ng-click="save(tracker.name, tracker.credentials)">Save</md-button>
            <md-button class="md-raised" ng-click="check(tracker.name)">Check</md-button>
        </md-content>
    </md-card>

    <md-card id="testtitle">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Test Title</h1>
                <span flex></span>
                <md-button class="md-raised" ng-click="testCallback()">Test</md-button>
            </div>
        </md-toolbar>
    </md-card>
</div>