<h1 layout-padding>Trackers</h1>
<div layout="column" layout-padding>
    <md-card ng-repeat="tracker in trackers">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>{{tracker.name}}</h1>
            </div>
        </md-toolbar>
        <mt-dynamic-form layout-padding data="tracker.form" model="tracker.settings"></mt-dynamic-form>
        <md-content layout-padding layout="row">
            <md-button class="md-raised md-primary" ng-click="save(tracker.name, tracker.settings)">Save</md-button>
            <md-button class="md-raised" ng-click="check(tracker.name)">Check</md-button>
        </md-content>
    </md-card>
</div>