<md-card class="mt-settings-clients">
    <mt-route-toolbar show-back="true"></mt-route-toolbar>
    <div layout layout-align="space-between center" class="mt-switch">
        <p>Turn developer mode on/off</p>
        <md-switch ng-model="isDeveloper" ng-change="toggleDevMode()" aria-label="Turn developer mode on/off"></md-switch>
    </div>
    <md-divider></md-divider>
    <div layout layout-align="space-between center" class="mt-switch">
        <p>Enable Proxy</p>
        <md-switch ng-model="proxyEnabled" ng-change="toggleProxyEnabled()" aria-label="Enable proxy"></md-switch>
    </div>
    <div flex layout="column" ng-show="proxyEnabled">
        <p ng-if="isEnabled">{{actionText()}}</p>
        <md-input-container>
            <label>Proxy Server for http requests</label>
            <input md-no-asterisk type="text" ng-model="httpProxyServer" ng-model-options="{debounce: 500}" name="httpServer">
            <div class="hint">http://login:password@host:port (ex. http://name:password@10.10.1.10/)</div>
        </md-input-container>
        <md-input-container>
            <label>Proxy Server for https requests</label>
            <input md-no-asterisk type="text" ng-model="httpsProxyServer" ng-model-options="{debounce: 500}" name="httpsServer">
            <div class="hint">http://login:password@host:port (ex. http://name:password@10.10.1.10/)</div>
        </md-input-container>
    </div>
</md-card>