<md-card class="mt-settings-clients">
    <mt-route-toolbar show-back="true"></mt-route-toolbar>
    <div layout layout-align="space-between center" class="mt-switch">
        <p>Turn developer mode on/off</p>
        <md-switch ng-model="isDeveloper" ng-change="toggleDevMode()" aria-label="Turn developer mode on/off"></md-switch>
    </div>
    <md-divider></md-divider>
    <div layout layout-align="space-between center" class="mt-switch">
        <p>Enable Proxy</p>
        <md-switch ng-model="proxyEnabled" ng-change="toggleProxyEnabled()" aria-label="Enable proxy"></md-switch>
    </div>
    <div flex layout="column" ng-show="proxyEnabled">
        <md-input-container>
            <label>Proxy Server for http requests</label>
            <input md-no-asterisk type="text" ng-model="httpProxyServer" ng-model-options="{debounce: 500}" name="httpServer">
            <div class="hint">http://login:password@host:port (ex. <i>http://myuser:pa$$w0rd@10.10.1.10</i>, <i>http://10.10.1.10</i>)</div>
        </md-input-container>
        <md-input-container>
            <label>Proxy Server for https requests</label>
            <input md-no-asterisk type="text" ng-model="httpsProxyServer" ng-model-options="{debounce: 500}" name="httpsServer">
            <div class="hint">http://login:password@host:port (ex. <i>http://myuser:pa$$w0rd@10.10.1.10</i>, <i>http://10.10.1.10</i>)</div>
        </md-input-container>
    </div>
    <md-divider></md-divider>
    <div layout layout-align="space-between center" class="mt-switch">
        <p>Cloudflare Challenge Solver Debug</p>
        <md-switch ng-model="cloudflareChallengeSolverDebug" aria-label="Record Video of cloudflare challenge solver"></md-switch>
    </div>
    <div flex layout="row" ng-show="cloudflareChallengeSolverDebug">
        <md-input-container flex="33">
            <md-checkbox ng-model="cloudflareChallengeSolverRecordVideo" aria-label="Record Video">Record Video</md-checkbox>
        </md-input-container>
        <md-input-container flex="33">
            <md-checkbox ng-model="cloudflareChallengeSolverRecordHAR" aria-label="Record Video">Record HAR</md-checkbox>
        </md-input-container>
        <md-input-container flex="33">
            <label>Keep last challenges:</label>
            <input md-no-asterisk type="number" ng-model="cloudflareChallengeSolverKeepRecords" ng-model-options="{debounce: 500}">
        </md-input-container>
    </div>
    <md-divider></md-divider>
    <div layout layout-align="space-between center" class="mt-switch">
        <p>Check for new version</p>
        <md-switch ng-model="newVersionCheckEnabled" aria-label="Check for new version"></md-switch>
    </div>
    <div flex layout="row" ng-show="newVersionCheckEnabled">
        <md-input-container flex="50">
            <md-checkbox ng-model="includePrerelease" ng-change="toggleProxyEnabled()" aria-label="Check for pre-release version">Check for pre-release versions</md-checkbox>
        </md-input-container>
        <md-input-container flex="50">
            <label>Check interval (in minutes)</label>
            <input md-no-asterisk type="text" ng-model="checkInterval" ng-model-options="{debounce: 500}">
        </md-input-container>
    </div>
</md-card>