<div layout="column" layout-padding>
    <md-card>
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <h1>Execute</h1>
                <span flex></span>
                <!--<md-button class="md-raised" ng-click="execute()">Execute</md-button>-->
                <md-button class="md-icon-button" aria-label="Execute" ng-click="execute()">
                    <md-icon md-svg-icon="content/icons/input.svg"></md-icon> 
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout="row">
            <h2>Last executed: {{last_execute | date : 'dd.MM.yyyy hh:mm:ss'}}</h2>
            <span flex></span>
            <md-input-container flex="10">
                <label>Interval</label>
                <input type="number" ng-model="interval" ng-model-options="{ debounce: 500 }" ng-change="updateInterval()">
            </md-input-container>
        </md-content>
        <md-list>
            <md-list-item ng-repeat="m in messages" class="md-2-line">
                <div class="md-list-item-text">
                <h3>{{m.level | uppercase}} </h3>
                <p ng-bind-html="m.message"></p>
                </div>
                <md-divider inset></md-divider>
            </md-list-item>
        </md-list>
    </md-card>
</div>