<!DOCTYPE html>
<html lang="en" ng-app="monitorrent">

    <head>
        <title>Monitorrent</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <link rel="stylesheet" href="styles/monitorrent.css">
    
        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/oboe.js/2.1.2/oboe-browser.min.js"></script>
        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.2.1/ng-infinite-scroll.min.js"></script>

        <meta name="viewport" content="initial-scale=1" />
    </head>

    <body class="monitorrent" ng-controller="MainCtrl">
        <div layout="row" class="mt-body">
            <md-sidenav md-component-id="sidenav" class="md-sidenav-left md-whiteframe-z1" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="md-whiteframe-z1">
                    <div class="md-toolbar-tools">
                        <md-button hide-gt-md class="md-icon-button" aria-label="Toggle menu" ng-click="toggleSidenav()">
                            <md-icon md-svg-icon="content/icons/menu.svg"></md-icon>
                        </md-button>
                        <h2>
                            <span>Menu</span>
                        </h2>
                    </div>
                </md-toolbar>
                <div layout="column" class="mt-nav-items">
                    <md-button ng-click="closeSidenav()" ng-repeat="route in routes" ng-if="checkItem(route)" href="#{{route.href}}" class="md-left">
                        <md-icon md-svg-icon="content/icons/{{route.icon}}.svg"></md-icon>{{route.label}}
                    </md-button>
                </div>
            </md-sidenav>
            <div class="mt-content" flex>
                <md-toolbar class="md-whiteframe-z1">
                    <div class="md-toolbar-tools">
                        <md-button hide-gt-md class="md-icon-button" aria-label="Toggle menu" ng-click="toggleSidenav()">
                            <md-icon md-svg-icon="content/icons/menu.svg"></md-icon>
                        </md-button>
                        <h2>
                            <span>Monitorrent</span>
                            <!--(if target dist)>
                                <span class="md-caption">v.{{version}}</span>
                            <!(endif)-->
                        </h2>
                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="Logout" ng-click="exit()" ng-show="exit_visible">
                            <md-icon md-svg-icon="content/icons/exit-to-app.svg"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-content layout="column" layout-align="start center">
                    <div ng-view class="md-padding mt-content-view"></div>
                </md-content>
            </div>
        </div>
    
        <script src="scripts/monitorrent.js"></script>
    </body>

</html>