<!DOCTYPE html>
<html lang="en" ng-app="monitorrent-login">

    <head>
        <title>Monitorrent</title>

        <link rel="icon" type="image/x-icon" href="favicon.ico">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc1/angular-material.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <link rel="stylesheet" href="styles/monitorrent.css">
        <meta name="viewport" content="initial-scale=1"/>

        <style type="text/css">
            .mt-login-form {
                width: 400px;
                margin: 40px;
            }
        </style>
    </head>

    <body class="monitorrent" layout="column">
        <section layout="row" flex>
            <div class="mt-content" flex>
                <md-toolbar class="md-whiteframe-z1">
                    <div class="md-toolbar-tools">
                        <md-button href="#/">
                            Monitorrent
                        </md-button>
                        <h2>
                            <span class="md-caption">v.<!-- @echo VERSION --></span>
                        </h2>
                    </div>
                </md-toolbar>
                <md-content layout="column" layout-align="start center">
                    <div layout="row" layout-align="center start" ng-controller="LoginController">
                        <md-card class="ng-cloak mt-login-form">
                            <md-toolbar>
                                <div class="md-toolbar-tools">
                                    <h1>Enter to Monitorrent</h1>
                                </div>
                            </md-toolbar>
                            <md-content style="padding: 8px;">
                                <form name="login" ng-submit="submit()" layout="column" layout-align="start stretch">
                                    <div layout="row">
                                        <md-input-container flex>
                                            <label>Password</label>
                                            <input required md-no-asterisk type="password" name="password"
                                                ng-model="password" ng-change="passwordValidation.valid()">
                                            <div ng-messages="login.password.$error" md-auto-hide="false" ng-if="login.password.$touched">
                                                <div ng-message="required" class="md-input-message-animation">Please enter your password</div>
                                                <div ng-message="wrongPassword" class="md-input-message-animation">Password is incorrect</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <md-button type="submit" class="md-raised md-primary" ng-disabled="login.$invalid">Enter</md-button>
                                </form>
                            </md-content>
                        </md-card>
                    </div>
                </md-content>
            </div>
        </section>

        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc1/angular-material.js"></script>

        <script>
            var app = angular.module('monitorrent-login', ['ngMaterial', 'ngMessages']);

            app.config(function ($mdThemingProvider) {
                $mdThemingProvider.theme('default')
                        .primaryPalette('blue-grey')
                        .accentPalette('deep-purple');
            });

            app.controller('LoginController', ['$scope', '$http', '$window', function ($scope, $http, $window) {
                $scope.password = "";
            
                $scope.passwordValidation = {
                    valid: function () {
                        $scope.login.password.$setValidity('wrongPassword', true);
                    },
                    invalid: function () {
                        $scope.login.password.$setValidity('wrongPassword', false);
                    }
                };

                $scope.submit = function () {
                    $http.post('/api/login', {password: $scope.password}).then(function() {
                        $window.location.href = '/';
                    }, function() {
                        $scope.passwordValidation.invalid();
                    });
                };
            }]);
        </script>
    </body>
</html>