<!DOCTYPE html>
<html lang="en" ng-app="monitorrent-login">

    <head>
        <title>Monitorrent</title>

        <link rel="icon" type="image/x-icon" href="favicon.ico">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <link rel="stylesheet" href="styles/monitorrent.css">
        <meta name="viewport" content="initial-scale=1"/>

        <style type="text/css">
            .ng-cloak {
                display: none !important;
            }

            .mt-login-form {
                width: 400px;
                margin: 40px;
            }
        </style>
    </head>

    <body class="monitorrent" layout="column">
        <section layout="row" flex>
            <div class="mt-content" flex>
                <md-toolbar class="md-whiteframe-z1">
                    <div class="md-toolbar-tools">
                        <h2>
                            <span>Monitorrent</span>
                            <span class="md-caption">v.<!-- @echo VERSION --></span>
                        </h2>
                    </div>
                </md-toolbar>
                <md-content layout="column" layout-align="start center">
                    <div layout="row" layout-align="center start" ng-controller="LoginController">
                        <md-card class="ng-cloak mt-login-form">
                            <form name="login" method="post">
                                <md-toolbar>
                                    <div class="md-toolbar-tools">
                                        <h1>Enter to Monitorrent</h1>
                                    </div>
                                </md-toolbar>
                                <md-content layout-padding>
                                    <md-input-container>
                                        <label>Password</label>
                                        <input ng-model="password" ng-change="passwordChanged()" type="password">
                                    </md-input-container>
                                </md-content>
                                <md-content layout-padding layout="row">
                                    <md-button class="md-raised md-primary" ng-click="submit()" ng-disabled="disabled">Enter</md-button>
                                </md-content>
                            </form>
                        </md-card>
                    </div>
                </md-content>
            </div>
        </section>

        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.js"></script>

        <script>
            var app = angular.module('monitorrent-login', ['ngMaterial']);

            app.config(function ($mdThemingProvider) {
                $mdThemingProvider.theme('default')
                        .primaryPalette('blue-grey')
                        .accentPalette('deep-purple');
            });

            app.controller('LoginController', ['$scope', '$http', '$window', function ($scope, $http, $window) {
                $scope.password = "";
                $scope.disabled = false;

                $scope.passwordChanged = function () {
                    $scope.disabled = $scope.password.length == 0;
                };

                $scope.submit = function () {
                    $http.post('/api/login', {password: $scope.password})
                            .success(function (data) {
                                $window.location.href = '/';
                            });
                };
            }]);
        </script>
    </body>
</html>