<md-card class="mt-settings-notifiers">
    <mt-route-toolbar show-back="true"></mt-route-toolbar>
    <md-list>
        <md-list-item ng-click="listClicked($event)" class="mt-list-item" ng-repeat="notifier in notifiers"
                      ng-href="#{{path}}/{{notifier.name}}">
            <img class="md-avatar" ng-src="content/images/{{notifier.name}}.png" alt="{{notifier.name}}"/>
            <p>{{ notifier.name }}</p>
            <md-checkbox class="md-secondary" value="{{notifier.name}}"
                         ng-model="notifier.is_enabled"
                         ng-change="set_enabled(notifier)"/>
            </md-checkbox>
        </md-list-item>
    </md-list>
</md-card>