<md-card>
    <mt-route-toolbar show-back="true"></mt-route-toolbar>
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Change Password</h1>
            </div>
        </md-toolbar>
        <form name="changePassword">
            <md-conntet layout-padding layout="column">
                <md-input-container>
                    <label>Current Password</label>
                    <input required name="old_password" type="password" ng-model="change_password.old_password" ng-change="remove_backend_error(changePassword, changePassword.old_password)">
                    <div ng-messages="changePassword.old_password.$error" ng-show="changePassword.$dirty">
                        <div ng-message="required">Please specify old password</div>
                        <div ng-message="backend">{{change_password.backend_messages.old_password}}</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>New Password</label>
                    <input required type="password" name="new_password" ng-model="change_password.new_password" ng-change="remove_backend_error(changePassword, changePassword.new_password)">
                    <div ng-messages="changePassword.new_password.$error" ng-show="changePassword.$dirty">
                        <div ng-message="required">New password can't be null</div>
                        <div ng-message="backend">{{change_password.new_password.old_password}}</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Confirm Password</label>
                    <input required type="password" name="retry_password" ng-model="change_password.retry_password" compare-to="change_password.new_password">
                    <div ng-messages="changePassword.retry_password.$error" ng-show="changePassword.$dirty">
                        <div ng-message="required">New password can't be null</div>
                        <div ng-message="compareTo">Confirm password is not equal to new password</div>
                    </div>
                </md-input-container>
            </md-conntet>
            <md-content layout-padding layout="row">
                <md-button class="md-raised md-primary" ng-click="updatePassword()" ng-disabled="changePassword.$invalid">Change Password</md-button>
            </md-content>
        </form>
    </md-card>
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Enable/Disable Authentication</h1>
            </div>
        </md-toolbar>
        <form name="enableDisableAuthentication">
            <md-conntet layout-padding layout="column">
                <md-input-container>
                    <label>Password</label>
                    <input required name="password" type="password" ng-model="authentication.password" ng-change="remove_backend_error(enableDisableAuthentication, enableDisableAuthentication.password)">
                    <div ng-messages="enableDisableAuthentication.password.$error" ng-show="enableDisableAuthentication.$dirty">
                        <div ng-message="required">To enable/disable authentication, please specify password</div>
                        <div ng-message="backend">{{authentication.backend_messages.password}}</div>
                    </div>
                </md-input-container>
                <md-checkbox ng-model="authentication.is_authentication_enabled">
                    Enable authentication
                </md-checkbox>
            </md-conntet>
            <md-content layout-padding layout="row">
                <md-button class="md-raised md-primary" ng-click="setAuthentication()" ng-disabled="enableDisableAuthentication.$invalid">Update Settings</md-button>
            </md-content>
        </form>
    </md-card>
</md-card>