<md-card>
    <mt-route-toolbar show-back="true">
        <span flex></span>
        <md-input-container layout="right">
            <label>Remove logs older than (days):</label>
            <input type="number" ng-model="interval" ng-model-options="{ debounce: 500 }" ng-change="updateInterval(interval)">
        </md-input-container>
    </mt-route-toolbar>
    <md-list infinite-scroll="loadNextPage()" infinite-scroll-distance="1" infinite-scroll-disabled="executing">
        <md-list-item ng-repeat="e in executes" class="md-3-line"
            ng-class="{'color-failed': e.failed > 0 && e.status != 'failed', 'color-downloaded': e.downloaded > 0 && e.failed == 0 && e.status != 'failed', 'color-alert': e.status == 'failed'}">
            <div class="md-list-item-text">
            <h3>
                <div layout="row">
                    <span><a href="#logs/{{e.id}}/details"><p ng-bind-html="getExecuteTitle(e)"></p></a></span>
                    <span flex></span>
                    <span>{{e.status | uppercase}}</span>
                </div>
            </h3>
            <p>Downloaded: {{e.downloaded}}</p>
            <p>Failed: {{e.failed}}</p>
            </div>
            <md-divider inset></md-divider>
        </md-list-item>
    </md-list>
</md-card>